html {
  background-color: #00539F;
  font-size: 10px;
  font-family: 'Zen Dots', cursive;
}

body {
  width: 600px;
  margin: 10px auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

img {
  display: block;
  width: 400;
  margin: 0 auto;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 8px 16px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #008CBA;
  border: none;
  border-radius: 4px;
  box-shadow: 0 6px #999;
}

.button:hover {background-color: #00539F}

.button:active {
  background-color: #00539F;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}